/* StudentLayout.css */

.student-layout {
  display: flex;
  height: 100vh;
  width: 85vw;
  background-color: #f5f7fa;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.student-main-content {
  flex-grow: 1;
  padding: 10px 20px;
  position: relative;
  padding-top: 90px; /* space for the fixed header */
  transition: all 0.3s ease;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
}

/* Override potential global styles adding right margin/padding */
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.content {
  padding-top: 60px;
}

/* Fixed header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f7fa;
  color: #1a202c;
  padding: 20px 20px 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #2b3d51;
  color: white;
  padding: 20px;
  z-index: 1001;
}
