.adminlayout {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    overflow: auto;
    align-items: stretch;
    padding: 20px;
}

.mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: stretch;
    margin-left: 250px; 
    padding: 20px;
    height: 100vh;
    
}
