/* AdminLayout.css */
.user-layout {
    display: flex;
    height: 92vh;
    width: 82vw;
    background-color: #ffffff; 
    overflow: hidden;
}

.main-content {
    flex-grow: 1;
    margin-left: 50px; /* Adjust to match sidebar width */
    padding: 20px;
    position: relative;
    padding-top: 80px; /* Adjusted for fixed header */
}

.profile-container {
  position: absolute;
  top: 10px;
  right: 100px;
  z-index: 1000;
}

.content {
  padding-top: 60px; /* Space for the profile icon */
}

.searchbar-container {
  position: absolute;
  top: 5px;
  right:  57%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 300px;
}