.user-layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex-shrink: 0;
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease-in-out;
}

.main-container.expanded {
  margin-left: 250px; /* Adjust based on sidebar width */
}

.main-container.collapsed {
  margin-left: 80px; /* Adjust based on minimized sidebar width */
}

.header {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.searchbar-container {
  padding: 10px;

}

.main-content {
    flex-grow: 1;
    margin-left: 250px; /* Adjust to match sidebar width */
    padding: 20px;
    position: relative;
    padding-top: 80px; /* Adjusted for fixed header */
}

