.header {
    width: calc(100% - 250px); 
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1005;
    background: var(--backgroundColor);
    transition: width 0.3s ease;
    box-sizing: border-box;
}

.header.sidebar-closed {
    width: calc(100% - 80px);
}

.header-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: white;
    transition: background 0.3s ease;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.profile-container {
    position: absolute; /* Makes the profile icon fixed relative to the header */
    top: 0px; /* Move it towards the top */
    right: 20px; /* Align it to the right side of the header */
    display: flex;
    align-items: flex-start; /* Align the profile icon to the top */
    justify-content: flex-end; /* Align the profile icon to the right */
    padding-top: 20px; /* Adjust this value as needed to bring it down */
}
